.project
.classpath
*.class
#.project
.settings/
bin/
*.wav
doc/
.DS_Store
lib_sources/
.directory
stats/
.idea/.name
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/
lib/log4j.properties
lib/xbee_api/
projet-2012-11.iml

